PORT=8080

# paths and webhook urls, seperated by semicolon
WEBHOOK_ROUTES=/example=https://discord.com/api/webhooks/abcd;/name-2=https://discord.com/api/webhooks/xyz

# webhook for uncategorized paths/routes
FALLBACK_WEBHOOK=https://discord/qwerty

# serve 404 without tracking when missing .png extension in request path
REQUIRE_PNG_EXTENSION=true

# IANA Time Zone to display in message
TIMEZONE=America/New_York

